*{
	padding: 0;
	margin: 0;
}

/*Sección 1*/
.navbar{
	background: black;
}

.sec1{
	background-image: url(../img/bg-header.jpg);
	background-size: cover;
	height: 100vh;
}

.imgSec1{
	padding-top: 15%;
	padding-left: 35%;
}

.abajoGirl{
	background-color: transparent;
	border: 3px solid;
	border-radius: 80px;
	font-size: 56px;
	text-decoration: none;
	color: white;
}

.abajoGirl:hover{
	color: black;
}

.teniendoAlIcono{
	padding-top: 10%;
	padding-left: 46%;
}

/*Sección 2*/

.textos1{
	text-align: center;
}

.titulo1{
	text-transform: uppercase;
	font-weight: bold;
}

.linea{
	color: black;
	size: 1px;
	width: 150px;
	margin-top: 0;
	margin-bottom: 2px;
	border: 1px;
	border-top: 0.5px solid orange;
}

hr{
	margin: 0 auto;
}